<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iKuai 历史版本下载</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
</head>
<body class="markdown-body">
<div id="app">
    <h1>iKuai 历史固件下载</h1>
    <div>
        <label for="edition">固件类型：</label>
        <select id="edition" v-model="form.edition">
            <option value="free">免费版</option>
            <option value="enterprise">企业版</option>
            <option value="oem">OEM</option>
        </select>
    </div>
    <div>
        <label for="bit">系统位数：</label>
        <select id="bit" v-model="form.bit">
            <option value="64">64</option>
            <option value="32">32</option>
        </select>
    </div>
    <div>
        <label for="installation-type">固件格式：</label>
        <select id="installation-type" v-model="form.type">
            <option v-for="(value, key) in filteredTypeDict" :value="{url: key, suffix: value}">{{ value }}</option>
        </select>
    </div>
    <div>
        <label for="version">版本号：</label>
        <select id="version" v-model="form.version">
            <template v-for="each in filteredVersionList">
                <option v-if="each.includes('_')" v-bind:value="each">{{ each.split("_")[0]}}</option>
            </template>
        </select>
    </div>
    <h2>下载链接</h2>
    <div>
        <a v-bind:href="downloadLink">{{ downloadLink }}</a>
    </div>
</div>
</body>
<footer style="text-align: center" class="markdown-body">
    <a href="https://github.com/LucienShui/ikuai-firmware" target="_blank">GitHub</a>
    |
    <a href="https://www.ikuai8.com/index.php?option=com_content&view=article&id=331">iKuai 更新日志</a>
</footer>
<script>
    const {createApp} = Vue;
    const VersionList = {{VERSION_LIST}};
    const EnterpriseVersionList = {{VERSION_ENTERPRISE_LIST}};

    const OEMVersionList = [
        "3.7.14_Build202408071731",
        "3.6.5_Build202207280937"
    ]

    createApp({
        data() {
            return {
                typeDict: {
                    iso: "iso",
                    img: "img.gz",
                    ghost: "gho",
                    patch: "bin",
                },
                historyVersionList: VersionList,
                historyEnterpriseVersionList: EnterpriseVersionList,
                historyOEMVersionList: OEMVersionList,
                form: {
                    edition: "free",
                    type: {url: "iso", suffix: "iso"},
                    bit: "64",
                    version: VersionList[0]
                }
            }
        },
        computed: {
            filteredTypeDict() {
                if (this.form.edition === "enterprise" || this.form.edition === "oem") {
                    return {patch: "bin"};
                }
                return this.typeDict;
            },
            filteredBitOptions() {
                return this.form.bit;
            },
            filteredVersionList() {
                if (this.form.edition === "enterprise") {
                    return this.historyEnterpriseVersionList
                } else if (this.form.edition === "oem") {
                    return this.historyOEMVersionList
                }
                return this.historyVersionList;
            },
            downloadLink() {
                let baseUrl = this.form.edition === "enterprise" ? "https://patch.ikuai8.com/ent/" : "https://patch.ikuai8.com/3.x/";

                let link =
                    baseUrl +
                    ((this.form.edition === "enterprise") ? "" : this.form.type.url + "/") +
                    (this.form.edition === "oem" ? "oem_x" : "iKuai8_x") +
                    this.form.bit +
                    "_" +
                    this.form.version;

                if (this.form.edition === "enterprise") {
                    const index = link.indexOf("Build");
                    link = link.slice(0, index) + "Enterprise_" + link.slice(index);
                }

                return link + "." + this.form.type.suffix;
            }
        },
        watch: {
            "form.edition"(newEdition) {
                // 重置为第一项
                const firstTypeOption = Object.entries(this.filteredTypeDict)[0];
                if (firstTypeOption) {
                    const [key, value] = firstTypeOption;
                    this.form.type = { url: key, suffix: value };
                }
                if (this.filteredBitOptions.length > 0) {
                    this.form.bit = this.filteredBitOptions;
                }
                if (this.filteredVersionList.length > 0) {
                    this.form.version = this.filteredVersionList[0];
                }
            }
        }
    }).mount("#app")
</script>
</html>
